button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
body {
  font-family: "Roboto Condensed", sans-serif;
color: white;
  background-color: darkgreen;
  font-size: 2rem;
}

.addclass{
  background-color: red;
}

#btn1{
 font-size: 30rem;
  height: 200vh;
  width: 200vh;
  background-color: yellow;
}